/* 
    Created on : Dec 29, 2016, 3:47:44 PM
    Author     : rory
*/

* {
    margin: 0;
    padding: 0;
}

body {
    background: transparent url("@{base-url}images/triangles.png") repeat center top;
}

b, a, p, h1, h2, h3 {
    font-family: 'liberation_sansregular';
    color: white;
    font-weight: 400;
    text-decoration: none;
    outline: 0;
}

a:hover, a:active, a:focus {
    outline: 0;
}

.standard {
    padding: 3em 2.2em 2.2em;
    margin-left: 3em;
    margin-right: 3em;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: auto;

    h1, h2, h3 {
        font-weight: 400;
        color: #00c0ff;
    }
    h3 {
        color: red;
    }
    .left {
        float: left;
        width: 50%;
        overflow: auto;
    }
    br {
        clear: both;
    }
    p {
        font-weight: 200;
        color: #c8c8c8;
        font-size: 13px;
    }

    table.data-table {
        td {
            padding: 5px;
        }
    }
    
    .egn-highlight {
        color: #00c0ff;
    }
}
