/* 
    Created on : Dec 29, 2016, 4:47:40 PM
    Author     : rory
*/

.egn-label {
  color: white;
  font-size: 12px;
}

.egn-input {
  color: white;
  padding: 5px;
  background-color: black;
  border: solid 1px cyan;
  outline: none;
  font-size: 13px;
  box-shadow: 0px 0px 10px #00c0ff;
}
