/* 
    Created on : Dec 29, 2016, 3:49:15 PM
    Author     : rory
*/

.egn-menubar {
    background-image: linear-gradient(#191919, #000000) !important;
    border: none !important;

    a img {
        cursor: pointer;
    }

    ul li {
        background: none !important;
        border: solid 1px transparent;
        transition: border 0.3s, background-color 0.3s;
        
        a {
            background: none !important;
            font-family: 'liberation_sansregular';
            font-weight: 300;
            color: #c8c8c8 !important;
            font-size: 13px;
            border-left: solid 1px transparent;
        }

        &.active, &:hover {
            background-size: 100%;
            background-color: rgba(0, 192, 255, 0.05) !important;
            border-left: solid 1px #00c0ff;
            color: #fff !important;
        }
    }
}
